.Game__pixiContainer {
  width: 100%;
  height: 100%;
}

.Game__pixiContainer > canvas {
  position: absolute !important;
}

.Game__matterCanvas {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}
